<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/memo/assets/scripts/index.js"></script>
    <title>메모장</title>
</head>
<body>
<form id="memoForm">
    <label>
        <span>작성자</span>
        <input name="writer" placeholder="작성자" type="text">
    </label>
    <label>
        <span>내용</span>
        <input name="content" placeholder="내용" type="text">
    </label>
    <button type="submit">작성하기</button>
</form>
</body>
</html>